#container{
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.horizontal-container{
  padding-top: 20px;
  width: 80%;
}

.horizontal-container-row{
  padding-top: 20px;
  width: 80%;
  display: flex;
  flex-direction: row;
}

.image-container{
  width: 60%;
  height: auto;
  overflow: hidden;
  padding-right: 20px;
}

img {
  padding-top: 20px;
  max-width: 100%;
  object-fit: contain;
}
