#container{
  flex-direction: column;
  justify-content: center;
}

#menu-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  width: 80%;
  height: 100%;
  padding-top: 20px;
}

.menu-grouping {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.menu-section {
  align-self: center;
  border: none;
  width: 90%;
  border-spacing: 10px;
}
