#container{
  flex-direction: row;
  justify-content: center;
}

#menu-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  width: 80%;
  height: 100%;
  padding:
}
