#container {
  flex: 1 0 auto;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h2 {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

h2:before, h2:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: red;
}

h2:before {
    margin-left: -50%;
    text-align: right;
}
