body, html {
  height: 260vh;
}

#img-overlay {
  position: absolute;
  right: 7vw;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-top: 20px;
  color: #FFFFFF
}

#img-overlay h1{
  font-size: 72px;
}

#img-overlay h2{
  font-size: 42px;
}

.bg-img1, .bg-img2 {
  /* The image used */

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.bg-img1 {
  background-image: url("../img/stew-food.jpg");
  height: 135vh;
}

.bg-img2{
  background-image: url("../img/woman-at-food-van.jpg");
  height: 100vh;
}


.content {
  background-color: #c4c4c4e6;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content * {
  padding-left: 30px;
  padding-bottom: 12px;
}
