#container{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c2c2c2;
}

#menu-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  width: 80%;
  height: 100%;
  padding-top: 20px;
  background-color: #ebebeb;
}

hr {
  align-self: center;
  width: 95%;
}

.menu-grouping {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.menu-grouping h2{
  padding-left: 2.5%;
}


.menu-section {
  align-self: center;
  border: none;
  width: 90%;
  border-spacing: 10px;
}
